<div id="barra-busca">
        <div class="row">
            <div class="col-xs-12 column">
                <div class="jumbotron">
                    <form id="search-form">
                        <input type="text" name="s" id="s" placeholder="Digite o que você procura no nosso portal e tecle Enter">
                        <input type="text" name="s" id="s-small" placeholder="Pesquisa">
                        
                    </form>
                </div>
            </div>
        </div>
</div>