{% extends "base.html" %}

{% load static %}

{% block container %}
    <h3>Receitas <span class="datas"><strong>Atualizado em: </strong>31/01/2017 | <strong>Data do último registro:</strong> 31/01/2017</span></h3>

    <nav id="button_bar">
    	<ul>
    		<li><a href=""><i class="fa fa-line-chart fa-lg" aria-hidden="true"></i>  Previsão de receitas</a></li>
    		<li><a href=""><i class="fa fa-bar-chart fa-lg"></i>  Arrecadação de receitas</a></li>
    	</ul>
    	<div class="clear"></div>
    </nav>

	<div class="table-responsive">
	    <table class="table table-hover table-striped">
	    	<thead>
	    		<tr>
	    			<th style="width: 60%;">Entidade</th>
	    			<th>Receita prevista</th>
	    			<th>Arrecadado</th>
	    			<th>(%)</th>
	    		</tr>
	    	</thead>
	    	<tbody>
	    		<tr>
	    			<td>AGÊNCIA DE DESENVOLVIMENTO DOS PEQUENOS NEGÓCIOS</td>
	    			<td>150.000,00</td>
	    			<td>0,00</td>
	    			<td>0</td>
	    		</tr>
	    		<tr>
	    			<td>EMLUR</td>
	    			<td>1.922.660,00</td>
	    			<td>0,00</td>
	    			<td>0</td>
	    		</tr>
	    		<tr>
	    			<td>AGÊNCIA DE DESENVOLVIMENTO DOS PEQUENOS NEGÓCIOS</td>
	    			<td>150.000,00</td>
	    			<td>0,00</td>
	    			<td>0</td>
	    		</tr>
	    		<tr>
	    			<td>EMLUR</td>
	    			<td>1.922.660,00</td>
	    			<td>0,00</td>
	    			<td>0</td>
	    		</tr>
	    		<tr>
	    			<td>AGÊNCIA DE DESENVOLVIMENTO DOS PEQUENOS NEGÓCIOS</td>
	    			<td>150.000,00</td>
	    			<td>0,00</td>
	    			<td>0</td>
	    		</tr>
	    		<tr>
	    			<td>EMLUR</td>
	    			<td>1.922.660,00</td>
	    			<td>0,00</td>
	    			<td>0</td>
	    		</tr>
	    		<tr>
	    			<td>AGÊNCIA DE DESENVOLVIMENTO DOS PEQUENOS NEGÓCIOS</td>
	    			<td>150.000,00</td>
	    			<td>0,00</td>
	    			<td>0</td>
	    		</tr>
	    		<tr>
	    			<td>EMLUR</td>
	    			<td>1.922.660,00</td>
	    			<td>0,00</td>
	    			<td>0</td>
	    		</tr>
	    		<tr>
	    			<td>AGÊNCIA DE DESENVOLVIMENTO DOS PEQUENOS NEGÓCIOS</td>
	    			<td>150.000,00</td>
	    			<td>0,00</td>
	    			<td>0</td>
	    		</tr>
	    		<tr>
	    			<td>EMLUR</td>
	    			<td>1.922.660,00</td>
	    			<td>0,00</td>
	    			<td>0</td>
	    		</tr>
	    		<tr>
	    			<td>AGÊNCIA DE DESENVOLVIMENTO DOS PEQUENOS NEGÓCIOS</td>
	    			<td>150.000,00</td>
	    			<td>0,00</td>
	    			<td>0</td>
	    		</tr>
	    		<tr>
	    			<td>EMLUR</td>
	    			<td>1.922.660,00</td>
	    			<td>0,00</td>
	    			<td>0</td>
	    		</tr>
	    		<tr>
	    			<td>AGÊNCIA DE DESENVOLVIMENTO DOS PEQUENOS NEGÓCIOS</td>
	    			<td>150.000,00</td>
	    			<td>0,00</td>
	    			<td>0</td>
	    		</tr>
	    		<tr>
	    			<td>EMLUR</td>
	    			<td>1.922.660,00</td>
	    			<td>0,00</td>
	    			<td>0</td>
	    		</tr>
	    		<tr>
	    			<td>AGÊNCIA DE DESENVOLVIMENTO DOS PEQUENOS NEGÓCIOS</td>
	    			<td>150.000,00</td>
	    			<td>0,00</td>
	    			<td>0</td>
	    		</tr>
	    		<tr>
	    			<td>EMLUR</td>
	    			<td>1.922.660,00</td>
	    			<td>0,00</td>
	    			<td>0</td>
	    		</tr>
				<tr>
					<td align="right">Total</td>
					<td align="center">2.862.730.440,00</td>
					<td align="center">128.156.868,54</td>
					<td>0</td>
				</tr>
	    	</tbody>
	    </table>
    </div>
{% endblock %}